.single__product {

  border-radius: 1px;
  cursor: pointer;
}

.product__img {
  margin: 20px;
  color: white;
}

.product__img:hover {
    background-color: white;
  box-shadow: 5px 5px 10px -5px #f5b70a;
}

.product__content h6 {
  color: #f5b70a;
  text-align: center;
}
.rating span i {
  color: #f76e11;
}

.price {
  color: #fff;
}

.price span {
  color: #f5b70a;
  font-size: 1.3rem;
  font-weight: 500;
}

.shopping__icon {
  width: 30px;
}

button > .btn {
  color: white;
  background-color: #f76e11;
}
.rating{
    margin-bottom: 60px;
}