.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

}
.container > .card-inner {
  background-color: #f1f1f1;
  width: 400px;
  margin: 10px;
  text-align: center;
  border: 3px solid green;

}
.container > .card-inner >button{
    display: flex;
    justify-content: center;
}